.heading{
  color:#acacc2
}
.school{
  color:grey;
  size:45px;
  border:7px groove purple;
}
body{
  background-color:lavender
}
p:hover{
  color:#b3f092
}
a:hover{
  size:65px
}
p{
  color:black;
  size:60px;
}
a:visited{
  color:teal
}    
