.heading{
  color:#acacc2;
  size:70px;
}
.school{
  color:grey;
  size:50px;
  border:7px dotted purple;
}
body{
  background-color:lavender
}
p:active{
  color:#44c1c9;
}
a:hover{
  size:65px
}
p{
  color:black;
  size:60px;
}
a:visited{
  color:teal
}    
